{% extends "base.html" %}
        <!-- Main body-->
        {% block header %}{% endblock header %}

        {% block content %}
        <div class="d-flex justify-content-center">
            <div class="card col-4 mb-4 mt-4">
                <div class="card-body">
                    <h2 class="text-center">Регистрация аккаунта</h2>
                    <form action="" method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-floating flex-fill mb-4">
                                {{ field }}
                                <label for="{{ field.id_for_label }}">
                                    {% if field.name == "username" %}
                                        <i class="fa-solid fa-user"></i>
                                    {% elif field.name == "email" %}
                                        <i class="fa-solid fa-envelope"></i>
                                    {% elif field.name == "password1" %}
                                        <i class="fa-solid fa-key"></i>
                                    {% endif %}
                                    {{ field.label }}
                                </label>
                                {% if field.errors %}
                                    <div class="text-danger">
                                        {{ field.errors|striptags }}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <button class="btn btn-dark" type="submit">Регистрация</button>
                    </form>                    
                </div>
                </div>
            </div>
            <div><div style="margin-top: 500px;"></div></div>

        {% endblock content %}

        {% block footer %}{% endblock footer %}