{% extends "base.html" %}
        <!-- Main body-->
        {% block title %}
            <title>{{post.title}}</title>
        {% endblock title %}
        {% block content %}
            <div class="d-flex justify-content-between"><div class="col-8">
                <div class="card"><div class="card-header d-flex justify-content-between">{{post.category.name}}
                    {% if post.author.id == request.user.id %}
                    <div>
                        <a href="{% url "main:delete_post" post.id %}" class="btn btn-dark">Удалить</a>
                        <a href="{% url "main:update_post" post.slug %}" class="btn btn-dark">Изменить</a>
                    </div>
                    {% endif %}
                </div>
                    <img src="{% if post.photo %}{{post.photo.url}}{% else %}https://www.raumplus.ru/upload/iblock/99e/Skoro-zdes-budet-foto.jpg{% endif %}" class="card-img-top" width="300" alt=""><div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">
                        {{ post.content }}
                    </p>
                </div>
                    <div class="card-footer d-flex justify-content-between"><p class="card-text">{{ post.updated_at }}</p>
                        <a href="/profile/1">Автор статьи: {{post.author}}</a>
                        <p class="card-text">74</p>
                    </div>
                </div>
                <hr>

                <!--  reviews-->
                <form action="" method="post" , enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-dark" type="submit">Добавить комментарий</button>
                </form>
                {% for comment in all_comments %}
                    <div class="card mt-2">
                        <h5 class="card-header d-flex justify-content-between">
                            <span>{{ comment.author.username }}</span>
                            <span class="text-muted small">{{ comment.created_at|timesince }} назад</span>
                        </h5>
                        <div class="card-body d-flex justify-content-between">
                            <p class="card-text">{{ comment.content }}</p>
                            {% if request.user.id == comment.author.id %}
                            <a href="#" 
                                class="btn btn-dark" 
                                data-bs-toggle="modal" 
                                data-bs-target="#deleteModal" 
                                data-id="{{ comment.id }}">Удалить</a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                

            </div>
            <!--  Recommendation-->
            <div class="col-1"></div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://www.raumplus.ru/upload/iblock/99e/Skoro-zdes-budet-foto.jpg" width="200" alt="">
                    <div class="card-body"><h5 class="card-title">Блюдо</h5><a href="#!" class="btn btn-primary">Подробнее</a></div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://www.raumplus.ru/upload/iblock/99e/Skoro-zdes-budet-foto.jpg" width="200" alt="">
                    <div class="card-body"><h5 class="card-title">Блюдо</h5><a href="#!" class="btn btn-primary">Подробнее</a></div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://www.raumplus.ru/upload/iblock/99e/Skoro-zdes-budet-foto.jpg" width="200" alt="">
                    <div class="card-body"><h5 class="card-title">Блюдо</h5><a href="#!" class="btn btn-primary">Подробнее</a></div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://www.raumplus.ru/upload/iblock/99e/Skoro-zdes-budet-foto.jpg" width="200" alt="">
                    <div class="card-body"><h5 class="card-title">Блюдо</h5><a href="#!" class="btn btn-primary">Подробнее</a></div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://www.raumplus.ru/upload/iblock/99e/Skoro-zdes-budet-foto.jpg" width="200" alt="">
                    <div class="card-body"><h5 class="card-title">Блюдо</h5><a href="#!" class="btn btn-primary">Подробнее</a></div>
                </div>
            </div>
            </div>


            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="deleteModalLabel">Удаление комментария</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Вы уверены, что хотите удалить этот комментарий?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                      <button type="button" class="btn btn-danger" id="confirmDelete">Удалить</button>
                    </div>
                  </div>
                </div>
              </div>
              
              <script>
                document.addEventListener("DOMContentLoaded", () => {
                  const deleteModal = document.getElementById("deleteModal");
                  let deleteId = null;
              
                  // Сохраняем ID комментария при открытии модального окна
                  deleteModal.addEventListener("show.bs.modal", (event) => {
                    const button = event.relatedTarget; // Кнопка, вызвавшая модальное окно
                    deleteId = button.getAttribute("data-id");
                  });
              
                  // Обработка кнопки "Удалить"
                  document.getElementById("confirmDelete").addEventListener("click", () => {
                    if (deleteId) {
                      fetch(`/delete_comment/${deleteId}/`, {
                        method: "POST",
                        headers: {
                          "X-CSRFToken": getCookie("csrftoken"),
                        },
                      })
                        .then((response) => {
                          if (response.ok) {
                            // Убираем комментарий из DOM
                            document.querySelector(`[data-id="${deleteId}"]`).closest(".card").remove();
                            // Закрываем модальное окно
                            bootstrap.Modal.getInstance(deleteModal).hide();
                          } else {
                            alert("Ошибка при удалении.");
                          }
                        })
                        .catch((error) => console.error("Ошибка:", error));
                    }
                  });
              
                  // Функция для получения CSRF-токена
                  function getCookie(name) {
                    let cookieValue = null;
                    if (document.cookie && document.cookie !== "") {
                      const cookies = document.cookie.split(";");
                      for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        if (cookie.startsWith(`${name}=`)) {
                          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                          break;
                        }
                      }
                    }
                    return cookieValue;
                  }
                });
              </script>
              
        {% endblock content %}

