{% extends "base.html" %}
        <!-- Main body-->
        {% block title %}
            <title>{{post.title}}</title>
        {% endblock title %}
        {% block content %}
        <main>
            <div class="d-flex justify-content-between"><div class="col-8">
                <div class="card"><div class="card-header d-flex justify-content-between">{{post.category.name}}
                    <div>
                        <a href="#!" class="btn btn-dark">Удалить</a>
                        <a href="#!" class="btn btn-dark">Изменить</a>
                        <a href="#!" class="btn btn-dark">Назад</a>
                    </div>
                </div>
                    <img src="{% if post.photo %}{{post.photo.url}}{% else %}https://www.raumplus.ru/upload/iblock/99e/Skoro-zdes-budet-foto.jpg{% endif %}" class="card-img-top" width="300" alt=""><div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">
                        {{ post.content }}
                    </p>
                </div>
                    <div class="card-footer d-flex justify-content-between"><p class="card-text">{{ post.updated_at }}</p>
                        <a href="/profile/1">Автор статьи: {{post.author}}</a>
                        <p class="card-text">74</p>
                    </div>
                </div>
                <hr>

                <!--  reviews-->
                <form action="#!" method="post" , enctype="multipart/form-data">
                    <input type="hidden" name="csrfmiddlewaretoken" value="dVpvJs374bq08P5ZzKsB7pSNUnoJ6PXRIDRXHc1fjvFIdKmbXrQMDMR0wYHLFtut">
                    <textarea name="text" cols="40" rows="10" class="form-control" placeholder="Текст вашего комментария" required id="id_text"></textarea>
                    <button class="btn btn-dark" type="submit">Добавить комментарий</button>
                </form>

                <div class="card mt-2"><h5 class="card-header">Какой то человек</h5>
                    <div class="card-body">
                        <p class="card-text">Текст отзыва</p>
                    </div>
                </div>
            </div>
            <!--  Recommendation-->
            <div class="col-1"></div>
            <div class="col-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://www.raumplus.ru/upload/iblock/99e/Skoro-zdes-budet-foto.jpg" width="200" alt="">
                    <div class="card-body"><h5 class="card-title">Блюдо</h5><a href="#!" class="btn btn-primary">Подробнее</a></div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://www.raumplus.ru/upload/iblock/99e/Skoro-zdes-budet-foto.jpg" width="200" alt="">
                    <div class="card-body"><h5 class="card-title">Блюдо</h5><a href="#!" class="btn btn-primary">Подробнее</a></div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://www.raumplus.ru/upload/iblock/99e/Skoro-zdes-budet-foto.jpg" width="200" alt="">
                    <div class="card-body"><h5 class="card-title">Блюдо</h5><a href="#!" class="btn btn-primary">Подробнее</a></div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://www.raumplus.ru/upload/iblock/99e/Skoro-zdes-budet-foto.jpg" width="200" alt="">
                    <div class="card-body"><h5 class="card-title">Блюдо</h5><a href="#!" class="btn btn-primary">Подробнее</a></div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://www.raumplus.ru/upload/iblock/99e/Skoro-zdes-budet-foto.jpg" width="200" alt="">
                    <div class="card-body"><h5 class="card-title">Блюдо</h5><a href="#!" class="btn btn-primary">Подробнее</a></div>
                </div>
            </div>
            </div>
        </main>
        {% endblock content %}

