{% extends "base.html" %}
{% load static %}

{% comment %} {% block title %}
{{ title }}
{% endblock title %} {% endcomment %}

{% block content %}
        <!-- Main body-->
            <h2>Кулинарный портал</h2>
            <div class="d-flex justify-content-between">
                <div class="col-3">
                    <!-- Sidebar -->
                    <ul class="list-group">
                        <li class="list-group-item {% if not category %}selected{% endif %}">
                            <a href="{% url 'main:index' %}">Главная</a>
                        </li>
                        {% for c in categories %}
                            <li class="list-group-item {% if c.slug == category.slug %}selected{% endif %}">
                                <a href="{{ c.get_absolute_url }}" class="list-group-item-action">{{ c.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    
                </div>
                <!-- Posts-->
                <div class="col-8">
                    <!-- Post-->
                     {% for post in posts %}
                        <div class="card text-center"><div class="card-header">Категория: {{post.category.name}}</div>
                            <div class="card-body"><h5 class="card-title">{{ post.title }}</h5><p class="card-text">{{ post.content|truncatewords:30 }}</p><a href="#" class="btn btn-primary">Прочитать</a></div>
                            <div class="card-footer text-muted">{{ post.updated_at }}</div>
                        </div> 
                     {% endfor %}
            </div>

{% endblock content %}